/*even if user move to field edge, screen can move to appropriate position*/
.backGround{
    position : absolute;
    height: 100vh;
    width : 100vw;
    overflow: scroll;
    background-color: rgb(0, 65, 0);
}
.fieldPadding1{
    position : absolute;
    padding : 20vh 20vw;
    background-color: green;

}
.fieldPadding2{
    padding : 20vh 20vw;
    background-color: rgb(9, 157, 9);
    
}
/*Field is basement of user position, so this is fiexd size*/
.field{
    position : relative;
    --size : 5000;
    height: calc(var(--size) * 1px);
    width : calc(var(--size) * 1px);
    background-color: rgb(9, 198, 9);

}

/*Common style for users*/
.user{
    --size : 15;
    position : absolute;
    height: calc(var(--size) * 1px);
    width : calc(var(--size) * 1px);
    background-color: white;
    z-index : 1;
}
.name{
    position: absolute;
    cursor: default; /* 通常のカーソル */
    pointer-events: none;
    top: -35px;
    left: -30px;
}
.user.isSelf{
    border-radius: 10px;
    --fSize : 5000;
    --size : 15;
    left : calc(var(--fSize)/2 * 1px - var(--size)/2 * 1px);
    top : calc(var(--fSize)/2 * 1px - var(--size)/2 * 1px);
    z-index : 2
}
.user.isClose{
    border: 2px solid red;
}
.user.isHolding{
    border: 5px solid red;
}
.user.isWriting{
    --size : 30;
    height: calc(var(--size) * 1px);
    width : calc(var(--size) * 1px);
}

/*ログイン画面*/
.login{
    position: fixed;
    height : 70vh;
    width : 60vw;
    margin-top: 15vh;
    margin-left: 20vw;
    background-color: white;
    z-index: 100;
    transform: translateY(0);
    transition : 10s;
}
.loginComplete{
    transform: translateY(-1000vh);
}

.input{
    border : 1px solid gray;
}